Package: shd-nagios-plugins-opensource
Version: 0.6
Architecture: i386
Maintainer: SM-Box Development Team <smbox-devel-team@shd-online.de>
Installed-Size: 100
Depends: python-xenapi, python-nagiosplugin, python-argparse
Conflicts: nagios2
Section: shd
Priority: optional
Description: SHD System-Haus-Dresden GmbH Open Source Nagios Plugins.
